@using CarDealer.Models.ViewModels
@model IEnumerable<CarDealer.Models.ViewModels.Supplier.SupplierImportVM>

@{
    ViewBag.Title = "AllSuppliersForUser";
}

<h2>AllSuppliersForUser</h2>

<br />
@Html.ActionLink("New Supplier", "Add", null, new { @class = "btn btn-lg btn-primary" })
@*<a href="/suppliers/add" class="btn btn-lg btn-primary">New Supplier</a>*@
<br />
<br />

<table class="table table-striped">
    <tr>
        <td>Name</td>
        <td>Importer</td>
        <td>Actions</td>
    </tr>
    @foreach (var supplier in Model)
    {
        <tr>
            <td>@supplier.Name</td>
            @if (supplier.IsImporter)
            {
                <td>Yes</td>
            }
            else
            {
                <td>No</td>
            }
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = supplier.Id })
                @*<a href="/suppliers/edit/@supplier.Id">Edit</a>*@
                @Html.ActionLink("Delete", "Delete", new { id = supplier.Id })
                @*<a href="/suppliers/delete/@supplier.Id">Delete</a>*@
            </td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("Back ....", "All")
</div>